/* ========= FONT ========= */
@font-face {
    font-family: 'Poppins';
    src: url('../assets/font/Poppins-Bold.woff2') format('woff2'),
        url('../assets/font/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/font/Poppins-Thin.woff2') format('woff2'),
        url('../assets/font/Poppins-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/font/Poppins-Regular.woff2') format('woff2'),
        url('../assets/font/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/font/Poppins-Medium.woff2') format('woff2'),
        url('../assets/font/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    /* --first-color: hsl(230, 56%, 56%); violet*/
    /* --first-color-alt: hsl(230, 51%, 61%); violet*/
    /* --first-color: hsl(167, 100%, 28%); green */
    /* --first-color-alt: hsl(154, 53%, 45%); green  */
    --first-color: hsl(210, 98%, 33%);
    --first-color-alt: hsl(200, 100%, 38%);
    --title-color: hsl(219, 15%, 95%);
    --text-color: hsl(219, 8%, 75%);
    --text-color-light: hsl(219, 4%, 55%);
    --footer-text: hsl(210, 15%, 95%);
    --testimonial-card: hsl(240, 100%, 99%);
    --container-color: hsl(219, 32%, 12%);

    /* ========= COLORS DARK MODE ========= */
    --dark-blue: hsl(216, 26%, 15%);
    --dark-blue-bg: hsl(217, 27%, 13%);
    --dark-blue-footer: hsl(216, 53%, 9%);
    --dark-blue-testimonial: hsl(219, 30%, 18%);

    /* ========= NEUTRAL ========= */
    --white: hsl(240, 100%, 99%);
    --body-bg: hsl(240, 100%, 99%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font-a: 'Poppins';
    --biggest-font-size: 1.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .625rem;

    /*========== Font weight ==========*/
    --font-thin: 100;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;    

    /*========== Font size ==========*/
    --font-normal: 14px;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
    :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    }
}

/*=============== BASE ===============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--body-bg);
    color: var(--dark-blue);
    transition: .2s ease all;
    font-family: var(--body-font-a);
    font-size: var(--normal-font-size);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,h2,h3 {
    font-weight: var(--font-semibold);
}

/*=============== REUSABLE CLASSES ===============*/
.container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 1rem;
    max-width: 968px;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.main {
    overflow: hidden;
}

.section {
    padding: 4rem 1rem 1rem;
}

.section_title,
.section_subtitle {
    text-align: center;
    font-family: var(--body-font-a);
}

.section_title {
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-bottom: 2rem;
}

.section_subtitle {
    display: block;
    font-size: var(--smaller-font-size);
    color: var(--dark-blue);
}

/*=============== HEADER & NAV===============*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--body-bg);
    z-index: 100;
    transition: .2s ease all; /*Dark-mode animation*/
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav_logo {
    width: 17%;
    cursor: pointer;
    transform: translateY(4px);
}

.nav_menu {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

.nav_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.nav_link {
    color: var(--dark-blue);
    font-family: var(--body-font-a);
    cursor: pointer;
    font-size: 14px;
}

.nav_link:hover {
    color: var(--first-color-alt);
    transition: .2s ease all;
}

/* Change background header */
.scroll_header {
    box-shadow: 0 4px 4px hsla(0, 0%, 4%, .3);
}

/*=============== MAIN ===============*/
/*=============== INTRO SECTION  ===============*/
.intro-container {
    position: relative;
    row-gap: 4.5rem;
    padding-top: 2rem;
}

.intro-info {
    text-align: center;
}

.intro-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-title {
    font-size: var(--h1-font-size);
    line-height: 2rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    max-width: 15rem;
}

.intro-description {
    font-size: var(--font-normal);
    margin-bottom: 2.5rem;
    line-height: 1.5rem;
}

.intro_buttons {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1.5rem;
}

.title-span {
    color: var(--first-color);
}

.contact-button {
    font-size: var(--normal-font-size);
    font-weight: var(--font-bold);
}

/* Resume Download Modal */
.resume_card {
    background-color: var(--container-color);
    padding: 3rem 1.5rem 1.5rem;
    border-radius: 1rem;
}

.resume_modal {
    position: fixed;
    inset: 0;
    background-color: hsla(219, 28%, 16%, .7);
    padding: 2rem 1rem;
    display: grid;
    place-items: center;
    visibility: hidden;
    opacity: 0;
    transition: .2s;
    z-index: var(--z-modal);
}

.resume_modal_content {
    position: relative;
    background-color: var( --testimonial-card);
    padding: 4.5rem 1.5rem 2.5rem;
    border-radius: 1.5rem;
}

.resume_modal_title,
.resume_modal_description {
    text-align: center;
}

.resume_modal_title {
    font-size: var(--h3-font-size);
    color: var(--first-color);
    margin-bottom: 1rem;
}

.resume_modal_description {
    font-size: var(--small-font-size);
    margin-bottom: 2rem;
}

.resume_modal_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.resume_modal_button {
    display: flex;
    align-items: flex-start;
    column-gap: .5rem;
}

.resume_modal_close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    /* filter: invert(45%) sepia(20%) saturate(2577%) hue-rotate(199deg) brightness(84%) contrast(92%); */
    filter: invert(21%) sepia(74%) saturate(2669%) hue-rotate(198deg) brightness(89%) contrast(98%);
    cursor: pointer;
}

/*Active modal*/
.active_modal {
    opacity: 1;
    visibility: visible;
}

/*=============== BUTTONS ===============*/
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--white);
    padding: .75rem 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: .2s;
    border: none;
    cursor: pointer;
    font-family: var(--body-font-a);
}

.button:hover {
    background-color: var(--first-color-alt);
    /* color: var(--first-color); */
}

.button--ghost {
    background-color: transparent;
    border: 2px solid var(--first-color);
    color: var(--first-color);
}

.button--ghost:hover {
    color: var(--white);
    border: 2px solid var(--first-color-alt);
}

/*=============== WORK SECTION  ===============*/
.work_filters {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .75rem;
    margin-bottom: 2rem;
}

.work_item {
    cursor: pointer;
    color: var(--first-color);
    padding: .25rem .75rem;
    font-weight: var(--font-medium);
    font-family: var(--body-font-a);
    border-radius: .5rem;
}

.work_title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: .25rem;
}

/* Active item work*/
.active_work {
    background-color: var(--first-color);
    color: var(--white);
}

.projects_card {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
}

.projects_card img {
    width: 100%;
    height: 100%;
}

.projects_modal {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -100%;
    left: 0;
    background: linear-gradient(180deg,
    hsla(210, 24%, 40%, .3) 0%,
    hsla(210, 24%, 4%, 1) 95%);
    display: flex;
    align-items: flex-end;
    padding: 1.5rem 1.25rem;
    transition: .3s;
}

.projects_subtitle,
.projects_title {
    color: var(--white);
}

.projects_subtitle {
    font-size: var(--smaller-font-size);
}

.projects_title {
    margin-bottom: .75rem;
    font-size: var(--h2-font-size);
}

.projects_button {
    padding: .5rem;
    display: inline-flex;
}

.projects_card:hover .projects_modal {
    bottom: 0;
}

.projects_link {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(295deg) brightness(190%) contrast(142%);
}

/*=============== TESTIMONIAL SECTION  ===============*/
.testimonial_card {
    background-color: var(--testimonial-card);
    padding: 1.25rem 1.5rem;
    border-radius: 1.5rem;
    margin-bottom: 3rem;
    box-shadow: 0 2px 16px hsla(219, 48%, 8%, .1);
}

.testimonial_img {
    width: 60px;
    border-radius: 3rem;
    margin-bottom: 1rem;
}

.testimonial_name {
    font-size: var(--h3-font-size);
    margin-bottom: .25rem;
}

.testimonial_description{
    font-size: var(--small-font-size);
}

.rol{
    font-weight: var(--font-bold);
}

/* Swipper Class */
.swiper-pagination-bullet {
    background-color: var(--text-color-light);
}

.swiper-pagination-bullet-active {
    background-color: var(--first-color);
}

/*=============== ABOUT SECTION  ===============*/
.about {
    margin-bottom: 3rem;
}

.about_container {
    row-gap: 3rem;
    padding-bottom: 3rem;
}

.about_img {
    width: 160px;
}

.about_handle {
    justify-self: center;
    width: 190px;
    height: 293px;
    background: linear-gradient(180deg,
                hsla(210, 100%, 35%, 1),
                hsla(230, 51%, 61%, .2)
    );
    border-radius: 10rem 10rem 1rem 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
}

.about_data {
    text-align: center;
    display: grid;
    gap: 1rem;
}

.about_title {
    font-size: var(--small-font-size);
}

.about_subtitle {
    font-size: var(--tiny-font-size);
}

.about_description {
    /* margin-bottom: 2rem; */
    font-size: var(--font-normal);
}

/*=============== FOOTER ===============*/
.footer {
    background-color: var(--first-color);
}

.footer_container {
    padding: 4rem 0 6rem;
}

.footer_logo {
    max-width: 50%;
    display: block;
    margin: 0 auto;
    padding-bottom: 25px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(295deg) brightness(190%) contrast(142%);
}


.footer_link {
    color: var(--footer-text);
    font-family: var(--body-font-a);
    /* font-size: var(--font-normal); */
}

.footer_link:hover {
    color: var(--dark-blue);
    transition: .4s ease all;
}

.footer_title {
    text-align: center;
    margin-bottom: 2rem;
}

.footer_list {
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: 2rem;
}

.footer_social {
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}

.footer_social_link {
    background-color: var(--first-color-alt);
    padding: .25rem;
    border-radius: .25rem;
    /* font-size: 1.3rem; */
    display: inline-flex;
}

.footer_social_link:hover {
    background-color: var(--white);
    transition: .4s ease all;
}

.footer_copy {
    display: block;
    margin-top: 4.5rem;
    color: var(--footer-text);
    text-align: center;
    font-family: var(--body-font-a);
}

.footer_social_icon {
    filter: invert(98%) sepia(65%) saturate(129%) hue-rotate(174deg) brightness(99%) contrast(92%);
}

.footer_social_icon:hover {
    /* filter: invert(45%) sepia(20%) saturate(2577%) hue-rotate(199deg) brightness(84%) contrast(92%); */
    filter: invert(21%) sepia(74%) saturate(2669%) hue-rotate(198deg) brightness(89%) contrast(98%);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(216, 8%, 66%);
}

::-webkit-scrollbar-thumb {
    background-color: hsl(216, 8%, 54%);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(216, 8%, 44%);
}

/*=============== THEME ===============*/
.change_theme {
    width: 20px;
    cursor: pointer;
    transition: .3s;
}

.change_theme:hover {
    color: var(--violet);
}

/*=============== DARK MODE THEME ===============*/
body.dark-theme {
    --first-color: hsl(207, 90%, 72%);
    --first-color-alt: hsl(207, 90%, 68%);
    --body-bg: hsl(219, 48%, 8%);
    --dark-blue: hsl(240, 100%, 99%);
    --footer-text: hsl(217, 28%, 15%);
    --testimonial-card: hsl(219, 32%, 12%);
}

.dark-theme .nav_logo {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(295deg) brightness(190%) contrast(142%);
}

.dark-theme .change_theme {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(295deg) brightness(190%) contrast(142%);
}

.dark-theme .about_handle {
    background: linear-gradient(180deg,
                hsla(207, 90%, 72%, 1),
                hsla(207, 90%, 72%, .2)
    );
}

.dark-theme .resume_modal_close {
    filter: invert(67%) sepia(39%) saturate(565%) hue-rotate(172deg) brightness(100%) contrast(95%);
}

.dark-theme .footer_logo {
    filter: invert(1%) sepia(5%) saturate(50%) hue-rotate(153deg) brightness(20%) contrast(90%);
}

.dark-theme .footer_social_icon {
    filter: invert(1%) sepia(5%) saturate(50%) hue-rotate(153deg) brightness(20%) contrast(90%);
}

.dark-theme .footer_social_icon:hover {
    filter: invert(67%) sepia(39%) saturate(565%) hue-rotate(172deg) brightness(100%) contrast(95%);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
        }

    .about_handle {
        width: 150px;
        height: 235px;
    }

    .about_img {
        width: 130px;
    }
}

/* For medium devices */
@media screen and (min-width: 576px) {
    .nav_logo {
        width: 15%;
        cursor: pointer;
    }
    
    .intro-description {
        max-width: 24rem;
    }
    
    .projects_content {
        grid-template-columns: 332px;
        justify-content: center;
    }

    .about_data {
        grid-template-columns: 300px;
        justify-content: center;
    }

    .footer_logo {
        max-width: 35%;
    }
}

@media screen and (min-width: 776px) {
    .header {
        height: 75px;
    }

    .nav {
        height: calc(2rem + 1rem);
    }
    
    .intro-title {
        line-height: 2rem;
    }
    
    .projects_content {
        grid-template-columns: repeat(2, 332px);
    }

    .about_container {
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
        column-gap: 3rem;
    }

    .footer_logo {
        max-width: 30%;
    }
}

/* For large devices */
@media screen and (min-width: 992px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .section {
        padding: 6.5rem 0 1rem;
    }

    .section_title {
        margin-bottom: 3.5rem;
    }

    .header {
        height: 85px;
    }

    .nav {
        height: calc(2.5rem + 1rem);
        gap: 20rem;
    }

    .intro-title {
        max-width: 24rem;
        line-height: 2.5rem;
    }

    .intro-description {
        max-width: 24rem;
    }

    .about_container {
        column-gap: 3rem;
    }

    .about_handle {
        width: 290px;
        height: 400px;
    }

    .about_img {
        width: 220px;
    }

    .about_data {
        align-items: center;
        align-content: space-evenly;
    }

    .about_description {
        margin-bottom: -2rem;
    }

    .footer_container {
        padding: 4rem 0 6rem;
    }

    .footer_logo {
        max-width: 20%;
    }

}


