/*=============== FONTS ===============*/
@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Bold.woff2') format('woff2'),
        url('../font/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Thin.woff2') format('woff2'),
        url('../font/Poppins-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Regular.woff2') format('woff2'),
        url('../font/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Medium.woff2') format('woff2'),
        url('../font/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

:root {
    --header-height: 3.5rem;
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    /*
        Purple: hsl(250, 66%, 75%)
        Blue: hsl(207, 90%, 72%)
        Pink: hsl(356, 66%, 75%)
        Teal: hsl(174, 63%, 62%)
    */
    /* color: hsl(195, 100%, 39%); */
    /* color: hsl(190, 100%, 42%); */
    /* color: hsl(201, 100%, 36%); */
    /* color: hsl(343, 79%, 44%); */

    --first-hue: 207;
    --sat: 90%;
    --lig: 72%;
    --second-hue: 219;
    --first-color: hsl(var(--first-hue), var(--sat), var(--lig));
    --first-color-alt: hsl(var(--first-hue), var(--sat), 68%); /* -4% */
    --title-color: hsl(var(--second-hue), 15%, 95%);
    --text-color: hsl(var(--second-hue), 8%, 75%);
    --text-color-light: hsl(var(--second-hue), 4%, 55%);
    --body-color: hsl(var(--second-hue), 48%, 8%);
    --container-color: hsl(var(--second-hue), 32%, 12%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Poppins';
    --biggest-font-size: 1.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .625rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semibold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
    :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    }
}

/*=============== BASE ===============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input,
textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
    transition: .2s; /*Ligh-mode animation*/
}

h1,h2,h3 {
    color: var(--title-color);
    font-weight: var(--font-semibold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 968px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.grid {
    display: grid;
    gap: 1.25rem;
}

.main {
    overflow: hidden;
}

.section {
    padding: 4rem 0 1rem;
}

.section_title,
.section_subtitle {
    text-align: center;
}

.section_title {
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-bottom: 2rem;
}

.section_subtitle {
    display: block;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

/*=============== HEADER & NAV===============*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
    transition: .2s ease all; /*Ligh-mode animation*/
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo {
    color: var(--first-color);
    font-weight: var(--font-medium);
    transition: .2s;
    width: 55px;
}

.nav_logo:hover {
    color: var(--first-color-alt);
}

.nav_menu {
    position: fixed;
    bottom: 1rem;
    background-color: hsla(var(--second-hue), 32%, 16%, .8);
    width: 90%;
    border-radius: 4rem;
    padding: 1rem 2.25rem;
    backdrop-filter: blur(10px);
    transition: .2s; /*Ligh-mode animation*/
}

.nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_link {
    color: var(--text-color);
    font-size: 1.25rem;
    padding: .4rem;
    display: flex;
    border-radius: 5rem;
}

/* Active link */
.active-link {
    background: linear-gradient(180deg, 
                hsla(var(--first-hue), var(--sat), var(--lig), 1),
                hsla(var(--first-hue), var(--sat), var(--lig), .2)
                );
    box-shadow: 0 0 16px hsla(var(--first-hue), var(--sat), var(--lig), .4);
    color: var(--title-color);
}

/* Change background header */
.scroll_header {
    box-shadow: 0 4px 4px hsla(0, 0%, 4%, .3);
}

/*=============== HOME ===============*/
.home_container {
    position: relative;
    row-gap: 4.5rem;
    padding-top: 2rem;
}

.home_data {
    text-align: center;
}

.home_greeting,
.home_education {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.home_greeting{
    display: block;
    color: var(--title-color);
    margin-bottom: .25rem;
}

.home_education {
    color: var(--text-color);
    margin-bottom: 2.5rem;
}

.home_name {
    font-size: var(--biggest-font-size);
}

.home_img {
    width: 160px;
}

.home_handle {
    justify-self: center;
    width: 190px;
    height: 293px;
    background: linear-gradient(180deg,
                hsla(var(--first-hue), var(--sat), var(--lig), 1),
                hsla(var(--first-hue), var(--sat), var(--lig), .2)
    );
    border-radius: 10rem 10rem 1rem 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
}

.home_buttons {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1.5rem;
}

.home_social,
.home_scroll {
    position: absolute;
}

.home_social {
    bottom: 5rem;
    left: 0;
    display: grid;
    row-gap: .5rem;
}

.home_social_link {
    width: max-content;
    background-color: var(--container-color);
    color: var(--first-color);
    padding: .25rem;
    border-radius: .25rem;
    display: flex;
    font-size: 1rem;
    transition: .2s;
}

.home_social_link:hover {
    background-color: var(--first-color);
    color: #ffff;
}

.home_social::after {
    content: '';
    width: 32px;
    height: 2px;
    background-color: var(--first-color);
    transform: rotate(90deg) translate(16px, 3px);
}

.home_scroll {
    color: var(--first-color);
    right: -1.5rem;
    bottom: 4rem;
    display: grid;
    row-gap: 2.25rem;
    justify-items: center;
}

.home_scroll_icon {
    font-size: 1.25rem;
}

.home_scroll_name {
    font-size: var(--smaller-font-size);
    transform: rotate(-90deg);
}

/*=============== BUTTONS ===============*/
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--body-color);
    padding: .75rem 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: .2s;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: var(--first-color-alt);
    color: var(--body-color);
}

.button--ghost {
    background-color: transparent;
    border: 2px solid var(--first-color);
    color: var(--first-color);
}

/*=============== ABOUT ===============*/
.about_container {
    row-gap: 2.5rem;
}

.about_img {
    width: 220px;
    border-radius: 1.5rem;
    justify-self: center;
}

.about_data {
    text-align: center;
}

.about_info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
    margin-bottom: 2rem;
}

.about_box {
    background-color: var(--container-color);
    border-radius: .75rem;
    padding: .75rem .5rem;
}

.about_icon {
    font-size: 1.5rem;
    color: var(--first-color);
    margin-bottom: .5rem;
}

.about_title {
    font-size: var(--small-font-size);
}

.about_subtitle {
    font-size: var(--tiny-font-size);
}

.about_description {
    margin-bottom: 2rem;
}

/*=============== SKILLS ===============*/
.skills_container {
    row-gap: 2rem;
    padding-top: 1rem;
}

.skills_content {
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: 1.25rem;
}

.skills_title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--first-color);
    text-align: center;
    margin-bottom: 1.5rem;
}

.skills_box {
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}

.skills_group {
    display: grid;
    align-content: flex-start;
    row-gap: 1rem;
}

.skills_data {
    display: flex;
    column-gap: .5rem;
}

.skills .bxs-label {
    color: var(--first-color);
    font-size: 1rem;
}

.skills_name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 18px;
}

.skills_level {
    font-size: var(--tiny-font-size);
}

/*=============== SERVICES ===============*/
.services_container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding-top: 1rem;
}

.services_card {
    background-color: var(--container-color);
    padding: 3rem 1.5rem 1.5rem;
    border-radius: 1rem;
}

.services_title {
    font-size: var(--h3-font-size);
    margin-bottom: 2.5rem;
}

.services_button {
    color: var(--first-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    column-gap: .25rem;
    cursor: pointer;
}

.services_button:hover .services_icon {
    transform: translateX(.25rem);
}

.services_icon {
    font-size: 1rem;
    transition: .4s;
}

/* Services modal */
.services_modal {
    position: fixed;
    inset: 0;
    background-color: hsla(var(--second-hue), 28%, 16%, .7);
    padding: 2rem 1rem;
    display: grid;
    place-items: center;
    visibility: hidden;
    opacity: 0;
    transition: .2s;
    z-index: var(--z-modal);
}

.services_modal_content {
    position: relative;
    background-color: var(--body-color);
    padding: 4.5rem 1.5rem 2.5rem;
    border-radius: 1.5rem;
}

.services_modal_title,
.services_modal_description {
    text-align: center;
}

.services_modal_title {
    font-size: var(--h3-font-size);
    color: var(--first-color);
    margin-bottom: 1rem;

}

.services_modal_description {
    font-size: var(--small-font-size);
    margin-bottom: 2rem;
}

.services_modal_list {
    display: grid;
    row-gap: .75rem;
}

.services_modal_item {
    display: flex;
    align-items: flex-start;
    column-gap: .5rem;
}

.services_modal_icon {
    font-size: 1.5rem;
    color: var(--first-color);
}

.services_modal_info {
    font-size: var(--small-font-size);
}

.services_modal_close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--first-color);
    cursor: pointer;
}

/*Active modal*/
.active_modal {
    opacity: 1;
    visibility: visible;
}

/*=============== WORK ===============*/
.work_container {
    padding-top: 1rem;
}

.work_filters {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .75rem;
    margin-bottom: 2rem;
}

.work_item {
    cursor: pointer;
    color: var(--title-color);
    padding: .25rem .75rem;
    font-weight: var(--font-medium);
    border-radius: .5rem;
}

.work_card {
    background-color: var(--container-color);
    padding: 1rem;
    border-radius: 1rem;
}

.work_img {
    border-radius: 1rem;
    margin-bottom: .75rem;
}

.work_title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: .25rem;
}

.work_button {
    width: max-content;
    color: var(--first-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    column-gap: .25rem;
}

.work_button:hover .work_icon {
    transform: translateX(.25rem);
}

.work_icon {
    font-size: 1rem;
    transition: .4s;
}

/* Active item work*/
.active_work {
    background-color: var(--first-color);
    color: var(--body-color);
}

/*=============== TESTIMONIAL ===============*/
.testimonial_card {
    background-color: var(--container-color);
    padding: 1.25rem 1.5rem;
    border-radius: 1.5rem;
    margin-bottom: 3rem;
}

.testimonial_img {
    width: 60px;
    border-radius: 3rem;
    margin-bottom: 1rem;
}

.testimonial_name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: .25rem;
}

.testimonial_description {
    font-size: var(--small-font-size);
}

/* Swipper Class */
.swiper-pagination-bullet {
    background-color: var(--text-color-light);
}

.swiper-pagination-bullet-active {
    background-color: var(--first-color);
}

/*=============== CONTACT ===============*/
.contact_container {
    row-gap: 3rem;
    padding-bottom: 3rem;
}

.contact_title {
    text-align: center;
    font-size: var(--h3-font-size);
    margin-bottom: 1.5rem;
}

.contact_info {
    display: grid;
    gap: 1rem;
}

.contact_card {
    background-color: var(--container-color);
    padding: 1rem;
    border-radius: .75rem;
    text-align: center;
}

.contact_card_icon {
    font-size: 2rem;
    color: var(--title-color);
    margin-bottom: .25rem;
}

.contact_card_title,
.contact_card_data {
    font-size: var(--small-font-size);
}

.container_card_title {
    font-weight: var(--font-medium);
}

.contact_card_data {
    display: block;
    margin-bottom: .75rem;
}

.contact_button {
    color: var(--first-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .25rem;
}

.contact_button:hover .contact_button_icon {
    transform: translateX(.25rem);
}

.contact_button_icon {
    font-size: 1rem;
    transition: .4s;
}

.contact_form_div {
    position: relative;
    margin-bottom: 2rem;
    height: 4rem;
}

.contact_form_input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid var(--text-color-light);
    background: none;
    color: var(--text-color);
    outline: none;
    padding: 1.5rem;
    border-radius: .75rem;
    z-index: 1;
}

.contact_form_tag {
    position: absolute;
    top: -.75rem;
    left: 1.25rem;
    font-size: var(--smaller-font-size);
    padding: .25rem;
    background-color: var(--body-color);
    z-index: 10;
}

.contact_form_area {
    height: 11rem;

}

.contact_form_area textarea {
    resize: none;
}

/*=============== FOOTER ===============*/
.footer {
    background-color: var(--first-color);
}

.footer_container {
    padding: 2rem 0 6rem;
}

.footer_logo {
    max-width: 40%;
    display: block;
    margin: 0 auto;
    padding-bottom: 15px;
}

/* .footer_logo:hover {
    content: url("../assets/img/Logo_white_SVG.svg");
    transition: .4s ease all;
} */

.footer_title,
.footer_link {
    color: var(--body-color);
}

.footer_link:hover {
    color: #ffff;
    transition: .4s ease all;
}

.footer_title {
    text-align: center;
    margin-bottom: 2rem;
}

.footer_list {
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: 2rem;
}

.footer_social {
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}

.footer_social_link {
    background-color: var(--body-color);
    color: var(--first-color);
    padding: .25rem;
    border-radius: .25rem;
    font-size: 1rem;
    display: inline-flex;
}

.footer_social_link:hover {
    background-color: #ffff;
    color: var(--body-color);
    transition: .4s ease all;
}

.footer_copy {
    display: block;
    margin-top: 4.5rem;
    color: var(--container-color);
    text-align: center;
    font: var(--smaller-font-size);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(var(--second-hue), 8%, 35%);
}

::-webkit-scrollbar-thumb {
    background-color: hsl(var(--second-hue), 8%, 26%);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--second-hue), 8%, 20%);
}

/*=============== THEME ===============*/
.change_theme {
    font-size: 1.25rem;
    cursor: pointer;
    transition: .3s;
}

.change_theme:hover {
    color: var(--first-color);
}

/*=============== VARIABLES LIGHT THEME ===============*/
body.light_theme {
    --title-color: hsl(var(--second-hue), 15%, 15%);
    --text-color: hsl(var(--second-hue), 8%, 35%);
    /* --body-color: hsl(197, 24%, 94%); */
    --body-color: hsl(230, 60%, 99%);
    --container-color: #ffff;
}

.light_theme .nav_logo {
    color: hsl(218, 14%, 15%);
}

.light_theme .nav_logo:hover {
    color: hsl(230, 56%, 56%);
}

.light_theme .home_handle {
    background: linear-gradient(180deg,
                hsla(230, 56%, 56%, 1),
                hsla(230, 56%, 56%, .2)
    );
}

.light_theme .home_social_link:hover {
    background-color: hsl(230, 56%, 56%);
    color: #ffff;
}

.light_theme body {
    background-color: #dee2e6;
    color: hsl(218, 14%, 15%);
    transition: .2s; /*Ligh-mode animation*/
}

.light_theme .about_icon {
    color: hsl(230, 56%, 56%);
}

.light_theme .skills_title {
    color: hsl(230, 56%, 56%);
}

.light_theme .skills .bxs-label {
    color: hsl(230, 56%, 56%);
}

.light_theme .services_button {
    color: hsl(230, 56%, 56%);
}

.light_theme .scroll_header {
    box-shadow: 0 2px 4px hsla(0, 0%, 1%, .1);
}

.light_theme .nav_menu {
    background-color: hsla(var(--second-hue), 32%, 90%, .8);
}

.light_theme .active-link {
    background: linear-gradient(180deg, 
                hsla(230, 56%, 56%, 1),
                hsla(230, 56%, 56%, .2)
                );
    box-shadow: 0 0 16px hsla(230, 56%, 56%, .4);
    color: var(--title-color);
}

.light_theme .change_theme:hover {
    color: hsla(230, 56%, 56%, 1);
}

.light_theme .section_subtitle {
    color: var(--text-color);
}

.light_theme .home_social_link {
    box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 8%, .1);
}

.light_theme .home_social::after,
.light_theme .footer_social_link {
    background-color: var(--title-color);
}

.light_theme .home_social_link,
.light_theme .home_scroll, 
.light_theme .button,
.light_theme .button:hover,
.light_theme .active_work,
.light_theme .footer_title,
.light_theme .footer_link,
.light_theme .footer_copy {
    color: var(--title-color);
}

.light_theme .footer_logo {
    content: url("../assets/img/Logo_white_SVG.svg");
}

/* .light_theme .footer_logo:hover {
    content: url("../assets/img/Logo_dark.svg");
    transition: .4s ease all;
} */

.light_theme .about_box {
    box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 8%, .1);
}

.light_theme .skills_content,
.light_theme .services_card,
.light_theme .work_card,
.light_theme .testimonial_card,
.light_theme .contact_card {
    box-shadow: 0 2px 16px hsla(var(--second-hue), 48%, 8%, .1);
}

.light_theme .button {
    color: hsl(210, 17%, 98%);
    background-color: hsl(230, 56%, 56%);
    border: none;
}

.light_theme .button:hover {
    background-color: hsl(210, 17%, 98%);
    color: hsl(230, 56%, 56%);
}

.light_theme .button--ghost {
    background-color: transparent;
    border: 2px solid hsl(230, 56%, 56%);
    color: hsl(230, 56%, 56%);
}

.light_theme .button--ghost:hover {
    background-color: hsl(230, 56%, 56%);
    border: 2px solid hsl(230, 56%, 56%);
    color: hsl(210, 17%, 98%);
}

.light_theme .section_title,
.light_theme .work_item,
.light_theme .work_button {
    color: hsl(230, 56%, 56%);
}

.light_theme .services_modal_title,
.light_theme .services_modal_icon,
.light_theme .services_modal_close {
    color: hsl(230, 56%, 56%);
}

.light_theme .active_work {
    background-color: hsl(230, 56%, 56%);
    color: hsl(210, 17%, 98%);
}

.light_theme .swiper-pagination-bullet-active {
    background-color: hsl(230, 56%, 56%);
}

.light_theme .contact_button {
    color: hsl(230, 56%, 56%);
}

.light_theme  .footer {
    background-color: hsl(230, 56%, 56%);
}

.light_theme .footer_title,
.light_theme .footer_link {
    color: hsl(210, 17%, 98%);
}

.light_theme .footer_link:hover{
    color: hsl(221, 46%, 8%);
}

.light_theme .footer_copy {
    color: hsl(210, 17%, 98%);
    font: var(--smaller-font-size);
}

.light_theme .footer_social_link {
    background-color: hsl(210, 17%, 98%);
    color: hsl(230, 56%, 56%);
}

.light_theme .footer_social_link:hover {
    background-color: hsl(221, 46%, 8%);
    color: hsl(210, 17%, 98%);
}

.light_theme::-webkit-scrollbar {
    background-color: hsl(var(--second-hue), 8%, 66%);
} 

.light_theme::-webkit-scrollbar-thumb {
    background-color: hsl(var(--second-hue), 8%, 54%);
} 

.light_theme::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--second-hue), 8%, 44%);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
    .nav_menu {
        padding: 1rem 1.5rem;
    }

    .home_buttons {
        flex-direction: column;
    }

    .home_handle {
        width: 150px;
        height: 235px;
    }

    .home_img {
        width: 130px;
    }

    .about_info {
        grid-template-columns: repeat(2, 1fr);
    }

    .skills_box {
        column-gap: 1rem;
    }

    .skills_name {
        font-size: var(--small-font-size);
    }

    .services_container {
        grid-template-columns: 145px;
        justify-content: center;
    }

    .work_item {
        font-size: var(--small-font-size);
    }

    .work_filters {
        column-gap: .25rem;
    }

    .footer_logo {
        max-width: 60%;
    }
}

/* For medium devices */
@media screen and (min-width: 576px) {
    .nav_menu {
        width: 328px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .about_info {
        grid-template-columns: repeat(3, 140px);
        justify-content: center;
    }

    .about_description {
        padding: 0 5rem;
    }

    .skills_container {
        justify-content: center;
    }

    .skills_content {
        padding: 2rem 4rem;
    }

    .services_container {
        grid-template-columns: repeat(2, 160px);
        justify-content: center;
    }

    .services_modal_content {
        width: 500px;
        padding: 4.5rem 2.5rem 2.5rem;
    }

    .services_modal_description {
        padding: 0 3.5rem;
    }

    .work_container {
        justify-content: center;
    }

    .work_img {
        width: 295px;
    }

    .contact_info {
        grid-template-columns: 300px;
        justify-content: center;
    }

    .contact_form {
        width: 360px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 767px) {
    .work_container {
        grid-template-columns: repeat(2, max-content);
    }

    .contact_container {
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
        column-gap: 3rem;
    }
}

/* For large devices */
@media screen and (min-width: 992px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .section {
        padding: 6.5rem 0 1rem;
    }

    .section_title {
        margin-bottom: 3.5rem;
    }

    .nav {
        height: calc(var(--header-height) + 1rem);
    }

    .home_handle {
        width: 290px;
        height: 400px;
    }

    .home_img {
        width: 220px;
    }

    .home_social_link {
        padding: .4rem;
        font-size: 1.25rem;
    }

    .home_social::after {
        transform: rotate(90deg) translate(16px, 0);
    }

    .home_scroll_icon {
        font-size: 2rem;
    }

    .about_container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        column-gap: 4rem;
    }

    .about_img {
        width: 350px;
    }

    .about_data {
        text-align: initial;
    }

    .about_info {
        justify-content: initial;
    }

    .about_box {
        text-align: center;
        padding: 1rem 1.25rem;
    }

    .about_description {
        padding: 0 4rem 0 0;
        margin-bottom: 2.5rem;
    }

    .skills_container {
        grid-template-columns: repeat(2, 350px);
        column-gap: 3rem;
    }

    .services_container {
        grid-template-columns: repeat(3, 192px);
        column-gap: 3rem;
    }

    .services_card {
        padding: 5rem 2rem 1.5rem;
    }

    .work_container {
        gap: 3rem;
    }

    .work_card {
        padding: 1.25rem;
    }

    .work_img {
        margin-bottom: 1rem;
    }

    .work_title {
        margin-bottom: .5rem;
    }

    .testimonial_container {
        width: 750px;
    }

    .testimonial_card {
        padding: 1.5rem 2rem;
    }

    .contact_container {
        column-gap: 0rem;
    }

    .footer_social_link {
        font-size: 1.25rem;
        padding: .4rem;
        border-radius: .5rem;
    }
}